<!DOCTYPE html>
<html>
<head>
  <title>Sharten Your URL!</title>
  <link href='https://fonts.googleapis.com/css?family=Averia+Libre:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="outer-container">
    <%= render "poomoji" %>
    <%= yield %>
  </div>
</body>
</html>
